@import url('http://fonts.googleapis.com/css2?family=poopons:wght@200;400;500;600;700&display=swap');
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:'Poppins', sans-serif;
}
body{
	background: #D5CEA3;
	font-family:'Poppins', sans-serif;
}
.menu{
	padding:0 10px 30px 10px;
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
	grid-gap: 20px 40px;
}
.heading{
	backgroud: #e84343;
	color: #000000;
	margin-bottom: 30px;
	padding: 30px 0;
	grid-column: 1/-1;
	text-align: center;
}
.heading>h3{
	font-weight: 600;
	font-size: 22px;
	letter-spacing: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.food-items{
	display: grid;
	position: relative;
	grid-template-rows: auto 1fr;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	transition: .2s ease-in-out;
}
.food-items img{
	position: relative;
	width: 100%;
	height: 280px;
	border-radius: 15px 15px 0 0;
	cursor: pointer;
}

.details{
	padding: 20px 10px;
	display: grid;
	grid-template-rows: auto 1fr 5px;
    grid-row-gap: 5px;
}

.button {
  background-color: #080202;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color:#c2bebc;
}



